<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO DO List</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <!-- this is how we use ejs for control flow statements like If else -->
     <!-- <% if (day === "Saturday" || day === "Sunday"){%>
    <h1 style="color: red;">IT IS <%= day %> TODO List</h1>
     <%} else { %>
        <h1 style="color: blue;">IT IS <%= day %> TODO List</h1>
     <%}%> -->



     <div class="box" id="heading">
      <h1> <%= day %></h1>

     </div>

     

      <div class="box content" >
         <% for(var i=0; i<ListItem.length;i++){%>

            <div class="item">
               <input type="checkbox">
               <p> <%=ListItem[i]%></p>

            </div>
            <% }%>
            <form class="item" action="/" method="post">
               <input type="text" name="newItem" placeholder="New Task" autocomplete="off">
               <button type="submit" name="button">+</button>
            </form>
       
      </div>





</body>
</html>